<%= link_to(notifications_path) do %>
  <% if unchecked_notifications.any? %>
   <span class="fa-stack">
       <i class="far fa-bell fa-stack-1x"></i>
       <i class="far fa-circle fa-stack-1x n-circle"></i>
    </span>
  <% else %>
    <i class="fas fa-bell"></i>

    <% end %>
<% end %>