<h1>フォローした人の投稿</h1>

<%= link_to '投稿新規順', posts_path %>
<%= link_to 'いいね順', favorites_ranking_path %>
<%= link_to '自分の投稿', my_posts_path %>

<%= render "index", posts: @posts, tags: @tags, tag: nil %>

