// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("AdobeStock_120990718.jpeg");;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1, .masthead .h1 {
    font-size: 5.5rem;
  }
}

