  <!--<div class="py-5 align-items-center d-flex">-->
  <!--  <div class="container py-5">-->
  <!--    <div class="row">-->
  <!--      <div class="col-md-8 px-md-5">-->
  <!--        <h1 class="display-3 mb-4" >FamilyOutingとは</h1>-->
  <!--        <p class="lead mb-4"> 家族のお出かけで悩んだ経験はありませんか？FamilyOutingはそんな悩みを解決します！お出かけした場所をシェアしてみんなで最高の家族の体験を作り上げていきましょう！</p>-->
  <!--        <a href="#" class="btn btn-lg btn-primary">Do something</a>-->
  <!--        <div class="col-md-6"> <%# image_tag 'AdobeStock_461430514', size:"800x800" , class:"img-fluid", alt:"画像"%></div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="px-md-5 p-3 col-md-6 d-flex flex-column align-items-start justify-content-center">
        <h1 class="title">FamilyOutingとは</h1>
        <p class="mb-3 lead">家族のお出かけで悩んだ経験はありませんか？FamilyOutingはそんな悩みを解決します！お出かけした場所をシェアしてみんなで最高の家族体験を作り上げていきましょう！</p>
        <%= link_to new_customer_registration_path do %><button class="btn-donate" >会員登録する</button><% end %>
        <div class="row">
        </div>
      </div>
      <div class="col-md-6">  <%= image_tag 'AdobeStock_461430514.jpg', size:"700x400" ,alt:"画像" %></div>
    </div>
  </div>
</div>
