<div class="masthead d-flex align-items-center">
  <div class="container px-4 px-lg-5 text-center">
      <h1 class="mb-1">FamilyOuting</h1>
      <h3 class="mb-5"><em>家族との時間を大切にしましょう</em></h3>
      <a class="btn btn-primary btn-xl" href="about">このサイトについて</a>
  </div>
</divr>