<div class="masthead d-flex align-items-center">
  <div class="container px-4 px-lg-5 text-center">
      <h1 class="mb-1">FamilyOuting 管理者ページ</h1>
      <h3 class="mb-5"><em>FamilyOuting 管理者ページ</em></h3>
  </div>
</divr>